<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Home Page</title>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Instagram Replica</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            {% if user %}
            <a class="nav-item nav-link" href="/createpost">New Post</a>
            <a class="nav-item nav-link" href="/search">Search</a>
            <a class="nav-item nav-link" href="/profile?key={{ myuser.key.urlsafe() }}">Profile</a>
            {% endif %}
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="jumbotron">
          <h1 class="display-4">Hello!</h1>
          <p class="lead">This is a simplified replica of Instagram</p>
          <hr class="my-2">
          {% if user %}
          <p>{{ welcome }} {{ user.email() }} to the application.</p>
          {% else %}
          <p>Welcome to the application. To access all feature you need to login.</p>
          {% endif %}
          <p class="lead">
            <!-- login / logout button -->
            <a class="btn btn-lg btn-outline-dark" href="{{ url }}">{{ url_string }}</a>
          </p>
        </div>
        <!-- posts -->
        <section>
          {% for i in posts|sort(reverse=true, attribute='create_date') %}
          {% if loop.index <= 50 %}
          <div class="card mx-auto p-4 my-4" style="width: 28rem;">
            <img src="{{ get_serving_url(i.image) }}" class="card-img-top" alt="images">
            <div class="card-body">
              <p class="card-text"><span class="font-weight-bold">{{ i.user.get().email_address }}</span> {{ i.caption }}</p>
              {% for i in i.comments|sort(reverse=true, attribute='create_date') %}
              <p class="card-text"><span class="font-weight-bold">{{ i.user.get().email_address }}</span> {{ i.comment }}</p>
              {% endfor %}
              <form action="/comment" method="post">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="comment" placeholder="Add a comment..." aria-label="Comment" aria-describedby="button-addon2" maxlength="200">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" name="Button" value="Comment"id="button-addon2">Post</button>
                  </div>
                </div>
                <input type="hidden" name="key" value="{{ myuser.key.urlsafe() }}">
                <input type="hidden" name="post" value="{{ i.key.urlsafe() }}">
              </form>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </section>

      </main>
    </div>
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
